<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Angular I18n Xliff Editor</title>
  <style>
    html,
    body {
      padding: 0;
    }

    [pending] {
      display: none !important;
    }

    [data-page-section] {
      margin-bottom: 10px; 
    }

    [data-page-section]:last-child {
      margin-bottom: 0;
    }

    .ant-tag.tag-label {
      margin: 0;
    }

    .ant-table-header-column {
      width: 100%;
    }

    .source-title-column {
      display: flex;
      align-items: center;
    }

    td.col-src {
      vertical-align: top;
      position: relative;
      padding-bottom: 35px !important;
    }

    td.col-tar {
      vertical-align: top;
      padding-right: 8px !important;
    }

    .source-title-column > span {
      display: inline-block;
    }

    .ant-alert.editor-validation-message {
      margin-top: 5px;
    }

    .ant-mentions.translation-editor-mentions > textarea {
      resize: vertical;
    }

    .ant-pagination.table-pagination {
      text-align: center;
      margin-top: 10px;
    }

    i.pointer {
      cursor: pointer;
    }

    i.not-allowed {
      cursor: not-allowed;
    }

    .transunit-index {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 3px;
      font-size: 12px;
      line-height: 14px;
      background: #ccc;
      color: #666;
      opacity: 0.4;
    }

    .transunit-meta {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5px;
      padding: 0 8px;
      line-height: 30px;
    }

    .transunit-meta > div {
      padding: 0 8px;
      border-top: 1px solid #eee;
    }

    .transunit-meta > div > span {
      margin-right: 5px;
    }

    .transunit-meta .key-field {
      color: rgba(0, 0, 0, .35);
      font-size: 12px;
    }

    .translation-column {
      display: flex;
      align-content: stretch;
    }

    .translation-column > div {
      flex: auto;
    }

    .translation-column > .translation-target {
      padding-right: 8px;
    }

    .translation-column > .translation-target > div {
      width: 100%;
      height: 100%;
    }

    .translation-column > .translation-state {
      text-align: center;
      min-width: 30px;
      max-width: 30px;
      font-size: 18px;
    }

    .state-item + .state-item {
      margin-top: 3px;
    }


    [data-page-section="status-bar-section"] {
      margin: 0 -12px -12px !important;
    }

    .status-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.13);
      height: 30px;
      line-height: 30px;
    }

    .status-bar > .status-item {
      flex: auto;
      text-align: right;
      padding: 0 10px;
    }

    .status-item.progress {
      display: flex;
      align-items: center;
    }

    .progress > .counter {
      padding: 0 5px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
      height: 100%;
      background: #ccc;
      white-space: nowrap;
    }

    #app .ant-back-top {
      right: 20px;
      bottom: 45px;
    }
  </style>
</head>

<body>
<div id="app" pending>
  <a-layout>
    <a-layout-content :style="{ margin: '10px', padding: '12px', background: '#fff', minHeight: '280px' }">
      <a-row type="flex" data-page-section="filter-section" :gutter="8">
        <a-col :span="6">
          <!-- <div><label>Xliff Location:</label></div> -->
          <a-select style="width: 100%" placeholder="Select a file" :value="selectedXliffFile ? selectedXliffFile : undefined" @change="onSelectedFileChange">
            <a-select-option v-for="item in xliffFiles" :key="item.path">
              {{ item.name }}
            </a-select-option>
          </a-select>
        </a-col>
        <a-col :span="4">
          <a-select style="width: 100%" placeholder="Select a target locale" :value="selectedTargetLocale ? selectedTargetLocale : undefined" @change="onSelectedTargetLocale">
            <a-select-option v-for="item in locales" :key="item">
              <b>{{ item }}</b>
            </a-select-option>
          </a-select>
        </a-col>
        <a-col :span="14">
          <a-button type="danger" v-if="selectedXliffFile && selectedTargetLocale" @click="loadXliffContent"
                    :loading="xliffFileLoading">Reload
          </a-button>
          <div v-if="transUnitTable.loaded" :style="{ float: 'right' }">
            Page #{{ pagination.pageNum }} -
            <a-select style="width: 120px;" placeholder="Select a target locale" :value="pagination.pageSize"
                      @change="onPageChange(1, $event)">
              <a-select-option v-for="item in [20, 50, 100, 300]" :key="item">
                <b>{{ item | number }}</b> / page
              </a-select-option>
            </a-select>
          </div>
          <!-- <a-button type="primary" v-if="hasTranslated">Sign Off All Translated</a-button> -->
        </a-col>
      </a-row>
      <a-row type="flex" data-page-section="prepare-section" v-if="!messageListed">
        <a-col :span="24">
          <a-spin :spinning="true" tip="Loading...">
            <a-alert type="info">
              <template slot="message">
                Preparing data...
              </template>
            </a-alert>
          </a-spin>
        </a-col>
      </a-row>
      <a-row type="flex" data-page-section="table-section" v-else-if="selectedXliffFile && selectedTargetLocale">
        <a-col :span="24">
          <a-spin :spinning="xliffFileLoading" tip="Loading...">
            <a-alert v-if="!transUnitTable.loaded" :type="xliffFileLoading ? 'info' : 'error'" show-icon>
              <template slot="message">
                <span v-if="xliffFileLoading">Loading</span>
                <span v-else>Failed</span>
              </template>
              <template slot="description">
                <p v-if="xliffFileLoading">Translation units are on the way...</p>
                <p v-else>Failed to load translation units in file: {{ selectedXliffFile }}</p>
              </template>
            </a-alert>
            <template v-else>
              <a-table :columns="transUnitTable.columns" :data-source="transUnitTable.transUnits" :pagination="false"
                       :loading="transUnitTable.filtering" bordered>
                <!-- title slots -->
                <span class="source-title-column" slot="sourceTitle">
                    <span>
                      Source <span :style="{ 'white-space': 'nowrap' }">({{ transUnitTable.sourceLocale }})</span>
                    </span>
                    <span :style="{ flex: 'auto', 'margin-left': '10px' }">
                      <a-input :value="filterOptions.sourceKeyword" allow-clear @change="onSourceKeywordChange"
                               placeholder="Enter keyword to search">
                        <a-icon slot="prefix" type="search"/>
                      </a-input>
                    </span>
                  </span>
                <span class="source-title-column" slot="targetTitle">
                    <span>
                      Translation <span :style="{ 'white-space': 'nowrap' }">({{ transUnitTable.targetLocale }})</span>
                    </span>
                    <span :style="{ flex: 'auto', 'margin-left': '10px' }">
                      <a-input :value="filterOptions.targetKeyword" allow-clear @change="onTargetKeywordChange"
                               placeholder="Enter keyword to search">
                        <a-icon slot="prefix" type="search"/>
                      </a-input>
                    </span>
                    <span :style="{ 'margin-left': '10px' }">
                      <template v-for="(item, key) in transStateOptions">
                        <a-tooltip :title="item.name" placement="bottom">
                          <a-checkable-tag :key="item.state" :checked="filterOptions.state.indexOf(item.state) > -1"
                                           @change="checked => selectStateFilter(item.state, checked)">
                            {{ item.abbr }}
                          </a-checkable-tag>
                        </a-tooltip>
                      </template>
                    </span>
                  </span>
                <!-- row data slots -->
                <template slot="sourceColumn" slot-scope="record, p, index">
                  <div class="transunit-index">{{ (pageOffset + index + 1) | number }}</div>
                  <div class="transunit-html">
                    <template v-for="part in record.source_parts">
                      <span v-if="part.type == 'text'">{{ part.displayHtml }}</span>
                      <a-tooltip v-else-if="part.type == 'ph_tag'" :title="part.rawHtml" placement="bottom">
                        <a-tag class="tag-label" color="orange" :data-part-key="part.key">
                          {{ part.key }}
                        </a-tag>
                      </a-tooltip>
                    </template>
                  </div>
                  <div class="transunit-meta">
                    <div>
                      <span class="key-field"><strong>Key:</strong> {{ record.key }}</span>
                      <span class="icon" v-if="record.meaning || record.description">
                          <a-tooltip placement="right">
                            <div slot="title" :style="{ 'font-size': '12px', 'opacity': 0.8 }">
                              <div v-if="record.meaning"><strong>Meaning:</strong> {{ record.meaning }}</div>
                              <div v-if="record.description"><strong>Description:</strong> {{ record.description }}
                              </div>
                            </div>
                            <a-icon class="pointer" type="question-circle" theme="twoTone"></a-icon>
                          </a-tooltip>
                        </span>
                      <span class="icon">
                          <a-popover placement="right">
                            <div slot="title">
                              Code Context <small>({{ record.contextGroups.length | number }} in total)</small>
                            </div>
                            <div slot="content">
                              <p :style="{ margin: 0 }">For more details, please visit the following location(s):</p>
                              <p v-for="ctx in record.contextGroups" :style="{ margin: '3px 0', padding: '0 3px' }">
                                <a href=""
                                   @click.prevent.stop="onCodeCtxClick(record, ctx, $event)">{{ ctx.sourceFile }}#L:{{ ctx.lineNumber }}</a>
                              </p>
                            </div>
                            <a-icon class="pointer" type="file-text" theme="twoTone"></a-icon>
                          </a-popover>
                        </span>
                    </div>
                  </div>
                </template>
                <div slot="targetColumn" slot-scope="record, n, index" class="translation-column">
                  <div class="translation-target">
                    <!-- translation editor -->
                    <div v-if="transUnitTable.editingUnit && transUnitTable.editingUnit.key === record.key"
                         ref='editor-div'>
                      <a-mentions class="translation-editor-mentions" autoFocus
                                  @keydown.enter.native="editorPressEnter(record, index, $event)"
                                  v-model="transUnitTable.editingUnit.editorValue" prefix="#" rows="auto" resize="auto"
                                  @blur="editorBlur(record, $event)" @select="tagSelected" @change="editorValueChange">
                        <a-mentions-option v-for="meta in transUnitTable.editingUnit.availableTags" :value="meta.tag">
                          {{ meta.tag }}
                          <template v-if="meta.count > 1"><b> &times; {{ meta.count }}</b></template>
                        </a-mentions-option>
                      </a-mentions>
                      <a-alert class="editor-validation-message" type="error" show-icon closable
                               v-if="transUnitTable.editingUnit.errors" message="Validation Failed">
                        <template slot='description'>
                          <p :style="{ 'margin-bottom': '3px' }" v-for="msg of transUnitTable.editingUnit.errors">
                            {{ msg }}
                          </p>
                        </template>
                      </a-alert>
                    </div>
                    <!-- translation display value -->
                    <div v-else @dblclick="startTranslation(record, $event)">
                      <template v-for="(part, index) in record.target_parts">
                        <span v-if="part.type == 'text'">{{ part.displayHtml }}</span>
                        <a-tooltip v-else-if="part.type == 'ph_tag'" :title="part.rawHtml" placement="bottom">
                          <a-tag class="tag-label" color="orange" :data-part-key="part.key">
                            {{ part.key }}
                          </a-tag>
                        </a-tooltip>
                      </template>
                    </div>
                  </div>
                  <div class="translation-state">
                    <tempate v-if="!record._updating">
                      <div class="state-item">
                        <a-tooltip v-if="record.state === 'needs-translation' || record.state === 'new'"
                                   placement="right" title="Need translation">
                          <a-icon type="exclamation-circle" theme="twoTone" two-tone-color="#f5222d" class="pointer">
                          </a-icon>
                        </a-tooltip>
                        <template v-else>
                          <a-tooltip v-if="record.state === 'translated'" title="Translated but not signed off."
                                     placement="right">
                            <a-icon class="pointer" type="info-circle" theme="twoTone" two-tone-color="#faad14">
                            </a-icon>
                          </a-tooltip>
                          <a-tooltip v-else title="Done!" placement="right">
                            <a-icon class="pointer" type="check-circle" theme="twoTone" two-tone-color="#52c41a">
                            </a-icon>
                          </a-tooltip>
                        </template>
                      </div>
                      <div class="state-item">
                        <a-tooltip v-if="record.state === 'signed-off' || record.state === 'translated'"
                                   placement="right"
                                   @visible-change="(visible) => { record.__signoff_hovered = visible; }">
                          <template slot="title">
                            {{ record.state === 'signed-off' ? 'Click to Re-open' : 'Click to sign off' }}
                          </template>
                          <a-icon @click="toggleSignOff(record)" class="pointer"
                                  v-if="record.state === 'signed-off' && record.__signoff_hovered || record.state !== 'signed-off' && !record.__signoff_hovered"
                                  type="unlock" theme="twoTone" two-tone-color="#fa8c16">
                          </a-icon>
                          <a-icon v-else-if="record.state === 'signed-off'" type="lock" theme="twoTone"
                                  class="pointer" @click="toggleSignOff(record)" two-tone-color="#52c41a"></a-icon>
                          <a-icon v-else type="lock" theme="twoTone" @click="toggleSignOff(record)"></a-icon>
                        </a-tooltip>
                        <a-tooltip v-else title="Not translated" placement="right">
                          <a-icon class="not-allowed" type="lock" theme="filled"></a-icon>
                        </a-tooltip>
                      </div>
                    </tempate>
                    <div v-else class="state-item">
                      <a-tooltip placement="right" title="Tranunit updating...">
                        <a-icon type="loading"></a-icon>
                      </a-tooltip>
                    </div>
                  </div>
                </div>
              </a-table>
              <a-pagination class="table-pagination" v-model="pagination.pageNum" :total="pagination.totalAmount"
                            :page-size="pagination.pageSize" :page-size-options="[20, 50, 100, 300]" show-size-changer
                            @show-size-change="(current, pageSize) => onPageChange(1, pageSize)"
                            @change="(page, pageSize) => onPageChange(page, null)">
              </a-pagination>
            </template>
          </a-spin>
        </a-col>
      </a-row>
      <a-row v-else>
        <a-col :span="24">
          <a-alert message="No Xliff File Selected"
                   description="Please select a xliff file and a target locale to start translation." type="info"
                   show-icon/>
        </a-col>
      </a-row>
      <a-row type="flex" data-page-section="status-bar-section">
        <a-affix :offset-bottom="0" :style="{ width: '100%', left: 0, right: 0 }">
          <a-col :span="24">
            <div class="status-bar" v-show="transUnitTable.loaded">
              <template v-if="statusBar.counters">
                <div class="status-item progress">
                  <a-progress :percent="tPercent" size="small"></a-progress>
                  <span class="counter">
                      {{ (statusBar.counters.totalUnitCount - statusBar.counters.needHandleCount) | number }} /
                      {{ statusBar.counters.totalUnitCount | number }},
                      <b>{{ statusBar.counters.signedOffUnitCount | number }} signed off</b>.
                    </span>
                </div>
              </template>
              <div class="status-item">
                <template v-if="!statusBar.process.finished">
                  <a-popover placement="topRight">
                    <template slot="title">
                      Tasks
                    </template>
                    <template slot="content">
                      <template v-for="(item, hash) in statusBar.process.commandByHash">
                        <a-alert v-if="item.error" type="error" :message="item.error" closable
                                 @close="() => confirmProcessState(hash)"></a-alert>
                        <a-alert v-else type="info">
                          <template slot="message">
                            {{ item.message }}
                            <a-icon type="loading"></a-icon>
                          </template>
                        </a-alert>
                      </template>
                    </template>
                    <a-icon type="loading"></a-icon>
                    task(s) executing...
                  </a-popover>
                </template>
                <template v-else-if="statusBar.process.hasError">
                  <a-popover placement="topRight">
                    <template slot="title">
                      Errors
                    </template>
                    <template slot="content">
                      <template v-for="(item, hash) in statusBar.process.commandByHash">
                        <a-alert v-if="item.error" :message="item.error" closable
                                 @close="() => confirmProcessState(hash)"></a-alert>
                      </template>
                    </template>
                    <a-icon type="exclamation-circle" theme="twoTone" color="#fa8c16"></a-icon>
                    Done
                  </a-popover>
                </template>
                <template v-else>
                  <a-icon type="check-circle" theme="twoTone"></a-icon>
                  Done
                </template>
              </div>
            </div>
          </a-col>
        </a-affix>
      </a-row>

    </a-layout-content>
    <!-- <a-layout-footer :style="{ textAlign: 'center' }">
      Roman-Lo ©2020 Created by Roman Lo
    </a-layout-footer> -->
  </a-layout>
  <a-back-top></a-back-top>
</div>
<script>
  const transUnitTableColumns = [
    {
      key: 'source',
      className: 'col-src',
      slots: {
        title: 'sourceTitle',
      },
      scopedSlots: {
        customRender: 'sourceColumn',
      },
      width: '50%'
    },
    {
      key: 'target',
      className: 'col-tar',
      slots: {title: 'targetTitle'},
      scopedSlots: {customRender: 'targetColumn'},
      width: '50%'
    }
  ];
  var isInVsCodeIDE = typeof acquireVsCodeApi === 'function';
  // var vscode = null;
  // try {
  //   vscode = acquireVsCodeApi();
  //   isInVsCodeIDE = true;
  // } catch (e) {

  // }
  let mainJsLocation = '#main#';
  let mockDataJsLocation = '#mockData#';
  let defaultMessageLocation = '#defaultMessageLocation#';
  let defaultMessageLocale = '#defaultMessageLocale#';
  
  if (mainJsLocation === '#main#') {
    mainJsLocation = '../../dist/main.js';
  }
  if (mockDataJsLocation === '#mockData#') {
    mockDataJsLocation = '../../dist/mock-data.js';
  }
  if (defaultMessageLocation === '#defaultMessageLocation#') {
    defaultMessageLocation = null;
  }
  if (defaultMessageLocale === '#defaultMessageLocale#') {
    defaultMessageLocale = null;
  }
  const localResources = {
    // localCss: '../../out/i18nTranslateWebView/main.css',
    antdCss: '../../libs/ant-design-vue/1.6.2/antd.min.css',
    antdJs: '../../libs/ant-design-vue/1.6.2/antd.js',
    vueJs: '../../libs/vue/2.6.11/vue.js',
    vueDashEventJs: '../../libs/vue-dash-event/1.0.1/index.min.js',
    momentJs: '../../libs/moment/2.27.0/moment-with-locales.min.js',
  };
  const config = {
    antdCss: '#vueAntdCssSrc#',
    antdJs: '#vueAntdJsSrc#',
    vueJs: '#vueJsSrc#',
    vueDashEventJs: '#vueDashEventJsSrc#',
    momentJs: '#momentJsSrc#',
    // localCss: '#localCssSrc#',
  };

  config.antdCss = config.antdCss !== '#vueAntdCssSrc#' ? config.antdCss : localResources.antdCss;
  config.antdJs = config.antdJs !== '#vueAntdJsSrc#' ? config.antdJs : localResources.antdJs;
  config.vueJs = config.vueJs !== '#vueJsSrc#' ? config.vueJs : localResources.vueJs;
  config.momentJs = config.momentJs !== '#momentJsSrc#' ? config.momentJs : localResources.momentJs;
  config.vueDashEventJs = config.vueDashEventJs !== '#vueDashEventJsSrc#' ? config.vueDashEventJs : localResources.vueDashEventJs;
  const states = [false, false, false, false];


  let exports = window.exports || undefined;
  let require = window.require || undefined;

  var loadAntd = function () {
    if (states[0] && states[1] && states[2]) {
      loadScriptOrStyle('script', config.antdJs, () => {
        if (!exports) {
          exports = {"__esModule": true};
        }
        if (!require) {
          require = function (m) {
            return require.modules[m];
          }
          require.modules = {};
          require.modules['vue'] = {default: Vue};
          require.modules['ant-design-vue'] = antd;
        }
        var startApp = function (mockData) {
          loadScriptOrStyle('script', mainJsLocation, function () {
            bootstrap(mockData);
          });
        }
        if (isInVsCodeIDE) {
          startApp(null);
        } else {
          loadScriptOrStyle('script', mockDataJsLocation, () => {
            startApp(window.MOCK_DATA);
          });
        }
      });
    }
  }

  loadScriptOrStyle('script', config.momentJs, () => {
    states[0] = true;
    loadAntd();
  });

  loadScriptOrStyle('script', config.vueDashEventJs, () => {
    loadScriptOrStyle('script', config.vueJs, () => {
      states[1] = true;
      loadAntd();
    });
  });

  loadScriptOrStyle('style', config.antdCss, () => {
    states[2] = true;
    loadAntd();
  });

  function loadScriptOrStyle(type, src, cb) {
    var head = document.getElementsByTagName('head')[0];
    var tag = null;
    if (type === 'script') {
      tag = document.createElement('script');
      tag.type = 'text/javascript';
      tag.src = src;
    } else if (type === 'style') {
      tag = document.createElement('link');
      tag.rel = 'stylesheet';
      tag.href = src;
    }

    if (tag != null) {
      // then bind the event to the callback function
      // there are several events for cross browser compatibility
      var cbFunc = function () {
        cb();
      };
      tag.onreadystatechange = cbFunc;
      tag.onload = cbFunc;
      head.appendChild(tag);
    }
  }
</script>
</body>

</html>