.vscode/**
.vscode-test/**
.idea/**
out/test/**
src/**
dist/**
node_modules
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config.js

# whitelist
!dist/extension.js
!dist/main.js